<div class="space-y-12">
    <div class="max-w-3xl mx-auto text-center">
        <h1 class="text-3xl font-extrabold text-gray-900">
            Manage Champion
        </h1>
        <p class="mt-4 text-lg text-gray-500">Create your unique champion.</p>
    </div>

    <form 
        #championForm="ngForm"
        class="space-y-6" 
        (ngSubmit)="onSubmit()" 
    >
        <div class="grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-8">
            <div class="sm:col-span-4">
                <label for="pantheon" class="form-label">Pantheon</label>
                <div class="mt-1">
                    <select 
                        id="pantheon" 
                        name="pantheon" 
                        #pantheon="ngModel"
                        required 
                        autofocus
                        [(ngModel)]="model.pantheon"
                        class="form-input"
                        autocomplete="pantheon-name"
                    >
                        <option *ngFor="let pantheon of pantheons" [value]="pantheon.name">{{pantheon.name}}</option>
                  </select>
                </div>
            </div>

            <div class="sm:col-span-4">
              <label for="name" class="form-label">Champion name</label>
              <div class="mt-1">
                <input 
                    type="text" 
                    name="name" 
                    id="name" 
                    autocomplete="champion-name" 
                    class="form-input"
                    required
                    #name="ngModel"
                    [(ngModel)]="model.name" 
                >
              </div>
              <p [hidden]="name.valid || name.pristine" class="form-error">Name is required</p>
            </div>
    
            <div class="sm:col-span-2">
                <div class="flex justify-between">
                    <label for="hp" class="form-label"> Hit points </label>
                    <span class="text-sm text-gray-500">Min: {{minHp}}</span>
                </div>
              <div class="mt-1">
                <input 
                    type="number"
                    min="{{minHp}}"
                    max="{{model.hp + freePoints}}"
                    name="hp"
                    id="hp" 
                    autocomplete="champion-hp" 
                    class="form-input"
                    required
                    #hp="ngModel"
                    [(ngModel)]="model.hp"
                    (ngModelChange)="onStatChange()"
                >
                </div>
                <div *ngIf="hp.errors && (hp.dirty || hp.touched)" class="form-error">
                    <span *ngIf="hp.errors['required']">Hp is required</span>
                    <span *ngIf="hp.errors['min']">Hp cannot be lower than {{minHp}}</span>
                    <span *ngIf="hp.errors['max']">Hp cannot be greater than {{model.hp + freePoints}}</span>
                </div>
            </div>
    
            <div class="sm:col-span-2">
                <div class="flex justify-between">
                    <label for="attack" class="form-label"> Attack power </label>
                    <span class="text-sm text-gray-500">Min: {{minAttack}}</span>
                </div>
                <div class="mt-1">
                  <input 
                      type="number"
                      min="{{minAttack}}"
                      max="{{model.attack + freePoints}}"
                      name="attack" 
                      id="attack" 
                      autocomplete="champion-attack" 
                      class="form-input"
                      required
                      #attack="ngModel"
                      [(ngModel)]="model.attack"
                      (ngModelChange)="onStatChange()"
                  >
                </div>
                <div *ngIf="attack.errors && (attack.dirty || attack.touched)" class="form-error">
                    <span *ngIf="attack.errors['required']">Attack is required</span>
                    <span *ngIf="attack.errors['min']">Attack cannot be lower than {{minAttack}}</span>
                    <span *ngIf="attack.errors['max']">Attack cannot be greater than {{model.attack + freePoints}}</span>
                </div>
            </div>

            <div class="sm:col-span-2">
                <div class="flex justify-between">
                    <label for="defence" class="form-label"> Defence </label>
                    <span class="text-sm text-gray-500">Min: {{minDefence}}</span>
                </div>
                <div class="mt-1">
                  <input 
                      type="number" 
                      min="{{minDefence}}"
                      max="{{model.defence + freePoints}}"
                      name="defence" 
                      id="defence" 
                      autocomplete="champion-defence" 
                      class="form-input"
                      required
                      #defence="ngModel"
                      [(ngModel)]="model.defence"
                      (ngModelChange)="onStatChange()"
                  >
                </div>
                <div *ngIf="defence.errors && (defence.dirty || defence.touched)" class="form-error">
                    <span *ngIf="defence.errors['required']">Defence is required</span>
                    <span *ngIf="defence.errors['min']">Defence cannot be lower than {{minDefence}}</span>
                    <span *ngIf="defence.errors['max']">Defence cannot be greater than {{model.defence + freePoints}}</span>
                </div>
            </div>  

            <div class="sm:col-span-2">
                <div class="flex justify-between">
                    <label for="points" class="form-label"> Free points </label>
                    <span class="text-sm text-gray-500">Readonly</span>
                </div>
                <div class="mt-1">
                  <input 
                      type="number" 
                      min="0"
                      name="points" 
                      id="points" 
                      class="form-input"
                      readonly
                      #points="ngModel"
                      [(ngModel)]="freePoints"
                  >
                </div>
                <div *ngIf="points.errors" class="form-error">
                    <span *ngIf="points.errors['min']">Free points cannot be lower than 0</span>
                </div>
            </div>  
        </div>

        
        <div class="">
            <label for="avatar" class="form-label"> Avatar </label>
            <div class="">
                <input 
                    type="hidden" 
                    name="avatar" 
                    id="avatar" 
                    required
                    #avatar="ngModel"
                    [(ngModel)]="model.avatar"
                >
            </div>

            <div class="mt-1 grid grid-cols-3 gap-y-6 gap-x-4 sm:grid-cols-6">
                <div 
                    *ngFor="let avatar of images" 
                    class="col-span-1 overflow-hidden rounded-md"
                    >
                    <img
                        src="{{avatar}}" 
                        alt=""
                        class="avatar"
                        [class.refused]="model.avatar && model.avatar !== avatar"
                        [class.selected]="model.avatar === avatar"
                        (click)="onSelectAvatar(avatar)"
                    >
                </div>
            </div>
        </div>


        <div class="flex items-center justify-between">
            <div class="flex items-center">
            <input 
                ngModel
                required 
                id="disclaimer" 
                name="disclaimer" 
                type="checkbox" 
                class="h-4 w-4 text-indigo-600 focus:ring-indigo-500 border-gray-300 rounded"
            >
            <label for="disclaimer" class="ml-2 block text-sm text-gray-900">Disclaimer: This project uses in memory database (for now), so every data you persist will be available only until page refresh.</label>
            </div>
        </div>

        <div>
            <button 
                type="submit"   
                class="btn"
                [disabled]="!championForm.form.valid"
            >Submit</button>
        </div>
    </form>
</div>