<div *ngIf="!opponents">Choosing the opposite team...</div>

<div *ngIf="opponents">

    <div class="stage">
        <div class="team">
            <app-battle-champion-detail
                *ngFor="let champion of opponents[0].members"
                [champion]="champion"
            ></app-battle-champion-detail>
        </div>

        <div>
            <div>
                <span *ngFor="let member of opponents[0].members">
                    {{member.name}} [{{member.hp}}hp]
                </span>
            
                <span>VS</span>
            
                <span *ngFor="let member of opponents[1].members">
                    {{member.name}} [{{member.hp}}hp]
                </span>
            </div>
            <div style="margin: 1em 0;">
                <button (click)="startTheBattle()">FIGHT!!!</button>
            </div>
            
            <app-battle-logs></app-battle-logs>
        </div>
        
        <div class="team">
            <app-battle-champion-detail
                *ngFor="let champion of opponents[1].members"
                [champion]="champion"
            ></app-battle-champion-detail>
        </div>
    </div>
</div>