<div *ngIf="!opponents">Choosing the opposite team...</div>

<div *ngIf="opponents">

    <div class="stage">
        <div class="team">
            <div 
                *ngFor="let member of opponents[0].members"
                class="member"
            >
                <img [class.dead]="member.hp <=0" src="{{member.avatar}}" alt="">
                
                <div class="member__name"><span>{{member.name}}</span></div>

                <div class="member__stats">
                    <div class="member__stat member__stat--hp"><span class="material-icons">favorite</span> {{member.hp}}</div>
                    <div class="member__stat member__stat--defence"><span class="material-icons">shield</span> {{member.defence}}</div>
                    <div class="member__stat member__stat--attack"><span class="material-icons">gavel</span> {{member.attack}}</div>
                </div>
            </div>
        </div>

        <div>
            <div>
                <span *ngFor="let member of opponents[0].members">
                    {{member.name}} [{{member.hp}}hp]
                </span>
            
                <span>VS</span>
            
                <span *ngFor="let member of opponents[1].members">
                    {{member.name}} [{{member.hp}}hp]
                </span>
            </div>
            <div style="margin: 1em 0;">
                <button (click)="startTheBattle()">FIGHT!!!</button>
            </div>
            <app-battle-logs></app-battle-logs>
        </div>
        
        <div class="team">
            <div 
                *ngFor="let member of opponents[1].members"
                class="member"
            >
                <img [class.dead]="member.hp <=0" src="{{member.avatar}}" alt="">
                
                <div class="member__name"><span>{{member.name}}</span></div>

                <div class="member__stats">
                    <div class="member__stat member__stat--hp"><span class="material-icons">favorite</span> {{member.hp}}</div>
                    <div class="member__stat member__stat--defence"><span class="material-icons">shield</span> {{member.defence}}</div>
                    <div class="member__stat member__stat--attack"><span class="material-icons">gavel</span> {{member.attack}}</div>
                </div>
            </div>
        </div>
    </div>
</div>