<div class="space-y-10 lg:space-y-20">
  <div class="lg:grid lg:grid-cols-12 lg:gap-8">
    <div class="flex flex-col justify-center text-left sm:text-center md:max-w-2xl md:mx-auto lg:col-span-6 lg:text-left">
      <h1 class="mt-1 block text-4xl tracking-tight font-extrabold sm:text-5xl xl:text-6xl text-gray-900">
        {{title}}
      </h1>

      <p class="text-gray-500 sm:mt-5 text-xl xl:text-2xl">
        Angular based, portfolio front-end project.
      </p>
    </div>

    <div class="mt-6 relative sm:max-w-lg sm:mx-auto lg:mt-0 lg:max-w-none lg:mx-0 lg:col-span-6 lg:flex lg:items-center">
      <div class="relative mx-auto w-full rounded-lg shadow-lg lg:max-w-md">
        <app-pantheon-detail [pantheon]="pantheon"></app-pantheon-detail>
      </div>
    </div>
  </div>

  <div>
    <app-feature-list></app-feature-list>
  </div>


  <div class="lg:text-center">
    <div class="max-w-3xl mx-auto">
      <h2 class="text-3xl font-extrabold text-gray-900 text-center">The Game</h2>
      <p class="mt-4 text-lg text-gray-500">It is a team vs team batle game.</p>
      <p class="mt-4 text-lg text-gray-500">There are default system generated champions with their base stats randomly tweaked. Each champion belongs to a group called pantheon. You can edit each champion and slightly modify its stats. You can also generate new one from scratch.</p>
      <p class="mt-4 text-lg text-gray-500">The player forms a squad of three champions from one pantheon. The system then selects the opposing team and the battle
        begins.</p>
      <p class="mt-4 text-lg text-gray-500">Each round, each champion chooses and attacks one live opponent. The game continues until all members of one team are
        dead or for 10 rounds. The battle progress is displayed in the form of a battle log.
    </p>
    </div>
  </div>

  <div class="">
    <div class="max-w-3xl mx-auto text-center">
      <h2 class="text-3xl font-extrabold text-gray-900">Ready to dive in?</h2>
      <p class="mt-4 text-lg text-gray-500">Pick your team and start a game.</p>
    </div>

    <div class="mt-8 flex justify-center">
      <div class="inline-flex rounded-md shadow">
        <a routerLink="/pantheons" class="btn"> Get started </a>
      </div>
    </div>
  </div>
</div>