<div *ngIf="pantheon">
    <h1 class="title">{{pantheon.name}}</h1>

    <p class="hint">Pick three champions</p>

    <ul class="champions">
        <li *ngFor="let champion of pantheon.champions">
            <app-champion-detail 
                [champion]="champion" 
                [selected]="selectedChampions.includes(champion)"
                [banner]="pantheon.banner"
                (itemEvent)="toggleSelectedChampion($event)"
            ></app-champion-detail>
        </li>
    </ul>

    <div>
        <p class="hint">
            Your team: 
            <span *ngFor="let champion of selectedChampions">
                {{champion.name}}
            </span>
        </p>

        <button (click)="confirmTheTeamSquad()" [disabled]="selectedChampions.length !== requiredChampions">Confirm</button>
    </div>
</div>
