<div class="">
    <div class="sm:flex sm:items-center">
        <div class="">
            <h1 class="text-3xl font-extrabold text-gray-900">Champions</h1>
            <p class="mt-4 text-lg text-gray-500">A list of all the champions including their name, avatar, stats and pantheon.</p>

            <div class="mt-3 relative text-gray-400 focus-within:text-gray-600">
                <div class="pointer-events-none absolute inset-y-0 left-0 pl-3 flex items-center">
                  <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
                  </svg>
                </div>

                <input
                    #searchBox
                    autocomplete="search-champions"
                    (input)="search(searchBox.value)"
                    class="block w-full bg-white py-2 pl-10 pr-3 border border-gray-300 rounded-md text-gray-900 placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-indigo-600 focus:ring-white focus:border-white sm:text-sm"
                    placeholder="Search champion" type="search" name="search">
            </div>
        </div>

        <div class="mt-4 sm:mt-0 sm:ml-16 sm:flex-none">
            <a routerLink="/champions/create" class="btn">Add Champion</a>
        </div>
    </div>

    <div class="mt-12 shadow ring-1 ring-black ring-opacity-5 md:rounded-sm">
        <table class="min-w-full divide-y divide-gray-300 text-sm">
            <thead class="bg-gray-50 text-gray-900">
                <tr>
                    <th class="px-3 py-2 text-left" (click)="sort('name')">
                        <div class="flex cursor-pointer">
                            <span>Name</span>

                            <div *ngIf="sortColumn === 'name'">
                                <svg *ngIf="sortDir" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M8 7l4-4m0 0l4 4m-4-4v18" />
                                </svg>

                                <svg *ngIf="!sortDir" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M16 17l-4 4m0 0l-4-4m4 4V3" />
                                </svg>
                            </div>
                        </div>
                    </th>
                    <th class="px-3 py-2 text-left hidden lg:table-cell" (click)="sort('hp')">
                        <div class="flex cursor-pointer">
                            <span>Hit points</span>

                            <div *ngIf="sortColumn === 'hp'">
                                <svg *ngIf="sortDir" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M8 7l4-4m0 0l4 4m-4-4v18" />
                                </svg>

                                <svg *ngIf="!sortDir" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M16 17l-4 4m0 0l-4-4m4 4V3" />
                                </svg>
                            </div>
                        </div>
                    </th>
                    <th class="px-3 py-2 text-left hidden lg:table-cell" (click)="sort('attack')">
                        <div class="flex cursor-pointer">
                            <span>Attack</span>

                            <div *ngIf="sortColumn === 'attack'">
                                <svg *ngIf="sortDir" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M8 7l4-4m0 0l4 4m-4-4v18" />
                                </svg>

                                <svg *ngIf="!sortDir" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M16 17l-4 4m0 0l-4-4m4 4V3" />
                                </svg>
                            </div>
                        </div>
                    </th>
                    <th class="px-3 py-2 text-left hidden lg:table-cell" (click)="sort('defence')">
                        <div class="flex cursor-pointer">
                            <span>Defence</span>

                            <div *ngIf="sortColumn === 'defence'">
                                <svg *ngIf="sortDir" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M8 7l4-4m0 0l4 4m-4-4v18" />
                                </svg>

                                <svg *ngIf="!sortDir" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M16 17l-4 4m0 0l-4-4m4 4V3" />
                                </svg>
                            </div>
                        </div>
                    </th>
                    <th class="px-3 py-2 text-left hidden md:table-cell" (click)="sort('pantheon')">
                        <div class="flex cursor-pointer">
                            <span>Pantheon</span>

                            <div *ngIf="sortColumn === 'pantheon'">
                                <svg *ngIf="sortDir" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M8 7l4-4m0 0l4 4m-4-4v18" />
                                </svg>

                                <svg *ngIf="!sortDir" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M16 17l-4 4m0 0l-4-4m4 4V3" />
                                </svg>
                            </div>
                        </div>
                    </th>
                    <th class="px-3 py-2 text-left"><span class="sr-only">Manage</span></th>
                </tr>
            </thead>

            <tbody class="divide-y divide-gray-300">
                <tr *ngFor="let champion of champions">
                    <td>
                        <div class="flex items-start lg:items-center p-3">
                            <div class="h-10 w-10 flex-shrink-0">
                                <img class="h-10 w-10 rounded-full" src="{{champion.avatar}}" alt="{{champion.name}}">
                            </div>

                            <div class="ml-4">
                                <div class="font-medium text-gray-900">{{champion.name}}</div>
                                <div class="md:hidden text-gray-500">{{champion.pantheon}}</div>

                                <div class="lg:hidden mt-1 flex space-x-3 text-gray-500">
                                    <div>HP: {{champion.hp}}</div>
                                    <div>Attack: {{champion.attack}}</div>
                                    <div>Defence: {{champion.defence}}</div>
                                </div>
                            </div>
                        </div>
                    </td>

                    <td class="hidden lg:table-cell p-4">{{champion.hp}}</td>

                    <td class="hidden lg:table-cell p-4">{{champion.attack}}</td>

                    <td class="hidden lg:table-cell p-4">{{champion.defence}}</td>

                    <td class="hidden md:table-cell p-4">{{champion.pantheon}}</td>

                    <td class="p-4">
                        <div class="flex flex-col md:flex-row space-y-3 md:space-y-0 md:space-x-3">
                            <a routerLink="/champions/{{champion.id}}/edit" class="text-indigo-600 hover:text-indigo-900">Edit</a>
                            <span
                                class="text-red-500 hover:text-red-600 cursor-pointer"
                                (click)="onDeleteChampion(champion.id)"
                            >Delete</span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


    <div *ngIf="showDeleteModal" class="fixed z-10 inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>

    <div *ngIf="showDeleteModal" class="fixed z-10 inset-0 overflow-y-auto">
        <div class="flex items-end sm:items-center justify-center min-h-full p-4 text-center sm:p-0">
            <div
                class="relative bg-white rounded-lg px-4 pt-5 pb-4 text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:max-w-lg sm:w-full sm:p-6">
                <div class="sm:flex sm:items-start">
                    <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                        <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title">Delete champion</h3>
                        <div class="mt-2">
                            <p class="text-sm text-gray-500">Are you sure you want to delete this champion?</p>
                        </div>
                    </div>
                </div>

                <div class="mt-5 sm:mt-4 sm:flex sm:flex-row-reverse">
                    <button type="button"
                        class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-red-600 text-base font-medium text-white hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 sm:ml-3 sm:w-auto sm:text-sm"
                        (click)="confirmDelete()">Confirm</button>
                    <button type="button"
                        class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:w-auto sm:text-sm"
                        (click)="showDeleteModal = false">Cancel</button>
                </div>
            </div>
        </div>

</div>