<div
    *ngIf="champion"
    [class.selected]="selected"
    class="champion"
>
    <div class="champion__hero">
        <img src="{{banner}}" alt="{{champion.pantheon}} banner">
    </div>

    <div class="champion__main">
        <img class="champion__avatar" src="{{ champion.avatar }}" alt="">
        <div class="champion__details">
            <span class="champion__name">{{ champion.name }}</span>
        </div>
    </div>

    <div class="champion__stats">
        <span>Attack: {{champion?.attack}}</span>
        <span>Defence: {{champion?.defence}}</span>
    </div>

    <div class="relative flex justify-between border-t border-gray-300">
        <a routerLink="/champions/{{champion.id}}/edit"
            class="flex-1 px-5 py-3 inline-flex justify-center items-center text-sm font-medium text-gray-700 hover:bg-gray-200">Edit</a>

        <button type="button"
            class="flex-1 px-5 py-3 inline-flex justify-center items-center text-sm font-medium text-gray-700 hover:bg-gray-200"
            (click)="toggleSelectedChampion()">
            <span *ngIf="!selected">Add to taem</span>
            <span *ngIf="selected">Remove from taem</span>
        </button>
    </div>
</div>
