<div class="">
    <div class="max-w-3xl mx-auto text-center">
      <h2 class="text-3xl font-extrabold text-gray-900">Project features</h2>
      <p class="mt-4 text-lg text-gray-500">Few of the concepts I wanted to cover making this project.</p>
    </div>

    <dl class="mt-12 space-y-6 sm:space-y-0 sm:grid sm:grid-cols-2 sm:gap-x-6 sm:gap-y-12 lg:grid-cols-4 lg:gap-x-8">
      <div 
        *ngFor="let feature of features"
        class="relative"
      >
        <dt>
          <svg class="absolute h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
          </svg>
          <p class="ml-9 text-lg leading-6 font-medium text-gray-900">{{feature.name}}</p>
        </dt>
        <dd class="mt-2 ml-9 text-base text-gray-500">{{feature.description}}</dd>
      </div>
    </dl>
</div>